// app global css in SCSS form
.resource {
  color: #f2e37e;
}
.influence {
  color: #3aa8cd;
}

.text-construction {
  color: #3cb448;
}
.text-politics {
  color: #fcf30a;
}
.text-diplomacy {
  color: #f5951f;
}
.text-leadership {
  color: #df2225;
}
.text-imperial {
  color: #752d92;
}
.text-technology {
  color: #1649a0;
}
.text-warfare {
  color: #078fd2;
}
.text-trade {
  color: #0ba798;
}
