// app global css in SCSS form
.resource {
  color: #f2e37e;
}
.influence {
  color: #3aa8cd;
}

.text-construction {
  color: #3cb448;
}
.text-politics {
  color: #fcf30a;
}
.text-diplomacy {
  color: #f5951f;
}
.text-leadership {
  color: #df2225;
}
.text-imperial {
  color: #752d92;
}
.text-technology {
  color: #1649a0;
}
.text-warfare {
  color: #078fd2;
}
.text-trade {
  color: #0ba798;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #00b4ff;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-transition: background-color 0.28s ease-in-out;
  transition: background-color 0.28s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

section > .row {
  padding-left: 2rem;
}
// somehow doesn't work as a scoped class, even with :deep(), so it goes here now
.q-table .component-header {
  font-size: 16px;
}
